body {
    background-color: #302E2B;
}

#root {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.squareRow{
    display: flex;
}

.square{
    width: 69px;
    height: 69px;
}

.white{
    /*background-color: white;*/
    /*background-color: #EBECD0;*/
    background-color: #F0D9B5;
}

.black{
    /*background-color: black;*/
    /*background-color: #739552;*/
    background-color: #B58863;
}

.piece{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.highlight{
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.17);
}